*.orig
*~
.*.swp
Doxyfile
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
configure.ac
depcomp
install-sh
libtool
ltmain.sh
lua/.deps/
lua/.libs/
lua/*.c
lua/*.la
lua/*.lo
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/config.h.in
src/conky
src/stamp-h1
src/.deps/
src/build.h
.cproject
.project
.settings*/
*.Po
*.o
*.ex
*.EX
src/config.h
.externalToolBuilders/org.python.pydev.PyDevBuilder.launch
src/defconfig.h
src/*.o
src/*.gcda
src/*.gcno
src/*.gcov
conky-*.tar.*
doc/*.html
doc/*.mxml
patches/
doc/conky.1
README
build-all/*
*.bak
nbproject/*
debian/conky-n950/*
build-stamp
debian/conky-n950.debhelper.log
debian/conky-n950.postinst.debhelper
debian/conky-n950.postrm.debhelper
debian/conky-n950.substvars
debian/files
config-stamp
/src/deleteme-dbus/.deps/